 
<app-header></app-header>
<button  [routerLink]="['/perfil']" >perfil</button>
<button  [routerLink]="['/pedido']" >pedido</button>
<button  [routerLink]="['/recoger']" >recoger</button>
<button  [routerLink]="['/contactanos']" >contact</button>
<button  [routerLink]="['/pagar']" >pagar</button>